* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: rgb(28, 40, 200);
	background: linear-gradient(22deg, rgba(28, 40, 200, 1) 0%, rgba(0, 245, 255, 1) 100%);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	width: 100%;
	max-width: 600px;
	height: 200px;
	padding: 20px 40px;
	background-color: #3e3e3e;
	border-radius: 20px;
	-webkit-box-shadow: 1px 7px 31px 1px rgba(66, 68, 90, 1);
	-moz-box-shadow: 1px 7px 31px 1px rgba(66, 68, 90, 1);
	box-shadow: 1px 7px 31px 1px rgba(66, 68, 90, 1);
}

.container {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container__heading {
	width: 30%;
	position: relative;
	color: rgba(0, 245, 255, 1);
}

.container__heading::before {
	content: '';
	width: 2px;
	height: 100px;
	position: absolute;
	top: 0;
	left: -15px;
	background-color: rgba(0, 245, 255, 1);
}

.container__search {
	width: 70%;
	display: flex;
	flex-direction: column;
}

.container__search--input {
	width: 100%;
	margin-bottom: 30px;
	color: #bdbdbd;
	font-weight: 300;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #5b5b5b;
	padding: 5px;
	outline: 0;
}

.container__search--btn {
	width: 100%;
	max-width: 50%;
	height: 30px;
	margin: 0 auto;
	border-radius: 20px;
	background: rgb(28, 40, 200);
	background: linear-gradient(22deg, rgba(28, 40, 200, 1) 0%, rgba(0, 245, 255, 1) 100%);
	color: #000;
	border: 1px solid transparent;
	cursor: pointer;
}

.mainBox {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 50px;
	border-radius: 20px;
	background-color: #333;
}

.mainBox__imgRecipe {
	width: 40%;
	display: block;
	margin: 30px auto 20px;
	border-radius: 50%;
}

.mainBox__nameRecipe {
	position: relative;
	padding: 10px 0;
	border-radius: 10px;
	text-align: center;
	background-color: rgb(28, 40, 200);
}

.mainBox__nameRecipe h2 {
	font-size: 17px;
	font-weight: 600;
}

.mainBox__nameRecipe h4 {
	font-size: 15px;
	font-weight: 400;
}

.mainBox__btnShow {
	margin-top: 20px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-weight: 500;
	font-size: 15px;
	background-color: rgba(0, 245, 255, 1);
	cursor: pointer;
	transform: all 0.3s ease;
}

.mainBox__recipe {
	height: 100%;
	width: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	border-radius: 10px;
	background-color: #1e293b;
}

.mainBox__recipe--instructions {
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 40px 24px 24px;
	font-size: 14px;
	color: #fff;
}

.mainBox__recipe--btnHide {
	width: 25px;
	height: 25px;
	position: relative;
	top: 5%;
	left: 90%;
	border: none;
	font-size: 15px;
	font-weight: bold;
	border-radius: 6px;
	cursor: pointer;
	background-color: rgb(28, 40, 200);
	transition: all 0.3s ease;
}

.mainBox__btnShow:hover,
.mainBox__recipe--btnHide:hover,
.inputSearch button:hover {
	background-color: #e69b00;
}

.mainBox__ingredients--ul {
	font-size: 15px;
	position: relative;
	display: grid;
	grid-template-columns: auto auto;
	gap: 12px 16px;
	padding: 16px 0 0 18px;
	color: #ccc;
	text-transform: capitalize;
}

.mainBox__ingredients--h3 {
	text-align: center;
	color: #fff;
}

.error {
	color: lightcoral;
	text-align: center;
	background-color: #3e3e3e;
	font-size: 12px;
	margin-top: -10px;
}

@media (max-width: 450px) {
	.container__search {
		width: 100%;
	}

	.container__heading {
		display: none;
	}
}
